# Use CD-ROM installation media
# renovate: datasource=custom.rockyLinuxRelease depName=rocky-10-template
repo --name="BaseOS" --baseurl=http://download.rockylinux.org/pub/rocky/10.2/BaseOS/x86_64/os/
# renovate: datasource=custom.rockyLinuxRelease depName=rocky-10-template
repo --name="AppStream" --baseurl=http://download.rockylinux.org/pub/rocky/10.2/AppStream/x86_64/os/
cdrom
# Use text install
text
# Don't run the Setup Agent on first boot
firstboot --disabled
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --device=link --bootproto=dhcp --hostname=localhost.localdomain

# Root password
rootpw packer

# System services
selinux --permissive
firewall --enabled
services --enabled="NetworkManager,sshd,chronyd"
# System timezone
timezone Etc/UTC --utc

# Partition clearing information
zerombr
clearpart --all --initlabel --disklabel=gpt

# Manual partitioning with explicit flags
part /boot/efi --fstype=efi --size=600 --ondisk=sda --asprimary
part /boot --fstype=xfs --size=1024 --ondisk=sda
part swap --fstype=swap --size=2048 --ondisk=sda
part / --fstype=xfs --size=4096 --grow --ondisk=sda

bootloader --location=mbr --boot-drive=sda

skipx

user --name=packer --groups=wheel --plaintext --password=packer

reboot

%packages
@^minimal-environment
cloud-utils-growpart
cockpit
curl
openssh-server
openssh-clients
python3
qemu-guest-agent
sudo
wget
%end

%addon com_redhat_kdump --disable

%end

%post

yum update -y
yum install -y cloud-init

echo '%wheel ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel
passwd -l root

%end
